{{!-- NAVBAR ============================================== --}}
{{!-- Dropdown Structure --}}
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Walkers</a></li>
    <li><a href="#!">Groomers</a></li>
    <li><a href="#!">Sitters</a></li>
    <li><a href="#!">Veterinarians</a></li>
    <li><a href="#!">Kennels</a></li>
    <li><a href="#!">Pet Friendly Parks</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Walkers</a></li>
    <li><a href="#!">Groomers</a></li>
    <li><a href="#!">Sitters</a></li>
    <li><a href="#!">Veterinarians</a></li>
    <li><a href="#!">Kennels</a></li>
    <li><a href="#!">Pet Friendly Parks</a></li>
</ul>

<nav class="transparent z-depth-0">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        {{!-- collapse trigger --}}
        <a href="#" data-target="mobile-collapse" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {{!-- Dropdown Trigger --}}
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i
                        class="material-icons left">search</i>Search
                    Options<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#!">Login</a></li>
            <li><a href="/signUp">Sign-Up</a></li>
        </ul>
    </div>
</nav>

{{!-- collapsable sidebar --}}
<ul class="sidenav" id="mobile-collapse">
    <li><a class="dropdown-trigger-collapse" href="#!" data-target="dropdown2"><i
                class="material-icons left">search</i>Search
            Options<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="#!">Login</a></li>
    <li><a href="/signUp">Sign-Up</a></li>
</ul>
{{!-- END NAVBAR ========================================== --}}