<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Walkers</a></li>
  <li><a href="#!">Groomers</a></li>
  <li><a href="#!">Sitters</a></li>
  <li><a href="#!">Veterinarians</a></li>
  <li><a href="#!">Kennels</a></li>
  <li><a href="#!">Pet Friendly Parks</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Search Options<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#!">Login</a></li>
      <li><a href="/signUp">Sign-Up</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <H2>This is the Home Page</H2>
</div>

<script src="./js/home.js"></script>