{{> navBar}}

<div class="container main-content valign-wrapper">
  <div class="row left-margin-0">
    <div class="col s12 m6 white-text left">
      <p class="main-text">
        Everything your pet needs all in one place
      </p>
    </div>
  </div>
</div>

<script src="./js/home.js"></script>