{{> navBar}}

<h1 class="profile-heading white-text center">Service offered</h1>

<div class="container">

    <div class="col s12 m9">
        <h2 class="header white-text">My Name</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://gooddogcoaching.com/wp-content/uploads/2013/05/calli-and-scout.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>What I Do: Dog Walker</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>Average Rating: ****</p>
                </div>
                <div class="card-action">
                    <a href="./userProfile">More Info</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m9">
        <h2 class="header white-text">My Name</h2>
        <div class="card horizontal" style="background-color: rgba(255, 255, 255, .8">
            <div class="card-image">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQytAxE_v2gV85mR6FnXddfWZgpE7-Pl9asgwDZ6I79cvTD3QnC">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>What I Do: Dog Walker</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>avg. rating ****</p>
                </div>
                <div class="card-action">
                    <a href="./userProfile">More Info</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m9">
        <h2 class="header white-text">My Name</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img
                    src="http://justsomething.co/wp-content/uploads/2019/03/dog-walker-posts-photos-of-the-packs-he-walks-everyday-and-they-are-adorable-24.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>What I Do: Dog Walker</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>avg. rating ****</p>
                </div>
                <div class="card-action">
                    <a href="./userProfile">More Info</a>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="./js/results.js"></script>