{{> navBar}}

<h1 class="profile-heading white-text center">Service offered</h1>

<div class="container">

    <div class="col s12 m9">
        <h2 class="header white-text">My Name</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://lorempixel.com/200/290/nature/6">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>What I Do: Dog Walker</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>Average Rating: ****</p>
                </div>
                <div class="card-action">
                    <a href="./profiles?id=2">More Info</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m9">
        <h2 class="header white-text">My Name</h2>
        <div class="card horizontal" style="background-color: rgba(255, 255, 255, .8">
            <div class="card-image">
                <img src="https://lorempixel.com/200/290/nature/6">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>What I Do: Dog Walker</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>avg. rating ****</p>
                </div>
                <div class="card-action">
                    <a href="./userProfile">More Info</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m9">
        <h2 class="header white-text">My Name</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://lorempixel.com/200/290/nature/6">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>What I Do: Dog Walker</p>
                    <p>Where am I: Salt Lake City</p>
                    <p>avg. rating ****</p>
                </div>
                <div class="card-action">
                    <a href="./userProfile">More Info</a>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="./js/results.js"></script>