{{> navBar}}

<div class="container main-content valign-wrapper">
    <div class="row right-margin-0">
        <div class="col s12 m6 white-text right">
            <p class="main-text">
                This is the signup page
            </p>
        </div>
    </div>
</div>

<script src="./js/signUp.js"></script>
