{{> navBar}}

<h1 class="profile-heading white-text center">My Profile</h1>
<div class="container main-content valign-wrapper align-center">
  <div class="row">
    <div class="col s12 m6 white-text">
      <p class="main-text">
        This is the User Profile page
      </p>
    </div>
  </div>
</div>

<script src="./js/userProfile.js"></script>