{{> navBar}}

<div class="container grey lighten-4">

  <div>
    <img src="./images/site/index.jpeg" alt="top image" id="profile-header">
  </div>
  <div class="content-padding">

    {{#each users}}

    {{!-- profile image and stats --}}
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="./images/site/results.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title">{{first_name}} {{last_name}}</span>
            <p>{{role}}</p>
            <p>Draper, UT</p>
            <p>Rating: <span>4.5/5</span></p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s8 white">
        <h4>About Me</h4>
        <p>Hello! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus doloribus cumque iusto
          veritatis
          magni minus deserunt facilis placeat, saepe libero tenetur quia animi maiores assumenda neque
          necessitatibus
          voluptatem amet. Asperiores.</p>
      </div>
    </div>

    {{!-- Profile pets --}}
    <h4 class="center-align">My Pets</h4>
    <div class="row">
      <div class="col s12">

        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">Spike</span>

              <p>Species: <span>Dog</span></p>
              <p>Breed: <span>Golden Retriever</span></p>
              <br>
              <p>He is our household garbage disposal.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">Mittens</span>

              <p>Species: <span>Cat</span></p>
              <p>Breed: <span>Tabby</span></p>
              <br>
              <p>She is awesome and fabulous. Hates tuna fish.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- Profile Reviews --}}
    <h4 class="center-align">Reviews</h4>

    <div class="row">
      <div class="col s12">
        <div class="col s12">

          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Pets were great!</span>

                <p>Rating: <span>4.5/5</span></p>

                <br>
                <p>Johns pets were so well behaved. They were so fun to play with and take care of.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
    {{/each}}
  </div>
</div>


<script src="./js/userProfile.js"></script>