html {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("../images/site/pet_pattern.png");
  /* background-color: #f88e78; */
}
.main-content {
  height: 100%;
}
/* body.index {
  background-image: url("../images/site/index.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
} */
body.sign-up {
  background-image: url("../images/site/sign-up.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* overflow-y: auto; */
}
/* body.results {
  background-image: url("../images/site/results.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
} */
.nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
}
p.main-text {
  font-size: 3em;
}
.right-margin-0 {
  margin-right: 0;
}
.left-margin-0 {
  margin-left: 0;
}

.top-margin-0 {
  margin-top: 0;
}

.content-padding {
  padding: 20px;
}

.max-height{
  min-height: 1000% !important;
}

.font-200{
  font-size: 150% !important;
}

/* For Testing MediaQuery */
/* .container {
  border: 1px solid;
} */

/* index styles */

.job-box {
  height:350px;
  width:100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px !important;
}

/* results styles */

.result-profile-image {
  width:200px;
  height:200px;
  background-position: center;
  background-size: cover;
}

/* profile styles */

#profile-header {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.pet-image {
  width:200px;
  height:200px;
  background-position: center;
  background-size: cover;
}

.profile-image {
  width:100%;
  height:200px;
  background-position: center;
  background-size: cover;
}

/* fur butlr colors */

.butlr-pink {
  background-color: #f88e78 !important;
}

.butlr-green {
  background-color: #02c9a8 !important;
}

.butlr-blue {
  background-color: #224e82 !important;
}

.butlr-yellow {
  background-color: #ffff99 !important;
}

.butlr-pink-text {
  color: #f88e78 !important;
}

.butlr-green-text {
  color: #02c9a8 !important;
}

.butlr-blue-text {
  color: #224e82 !important;
}

.butlr-yellow-text {
  color: #ffff99 !important;
}

.card,.card-image{
  border-radius: 10px !important;
}

.brand-logo {
  margin-top: 15px;
  margin-left: 10px;
}