body {
  background-color: #ffff;
  background-image: url("../images/site/AdobeStock_38214291_Preview.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
}
