body {
  background-color: rgb(20, 20, 88);
}

body.index {
  background-image: url("../images/site/index.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body.sign-up {
  background-image: url("../images/site/sign-up.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body.results {
  background-image: url("../images/site/results.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
}
p.main-text {
  font-size: 3em;
}
